<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disney+Hotstar</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://kit.fontawesome.com/6777739dbf.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar">
        <div class="left">
            <img src="/static/images/brandlogo.png" alt="Disney+Hotstar">
            <button class="sub-btn"> Subscribe > </button>

        </div>

        <ul class="navlinks">
            <li>
                <i class="fa-solid fa-house">
                    <a href="#">Home</a>
                </i>
            </li>
            <li>
                <i class="fa-solid fa-user">
                    <a href="#">My Space</a>
                </i>
            </li>
            <li>
                <i class="fa-solid fa-magnifying-glass">
                    <a href="#">Search</a>
                </i>
            </li>
            <li>
                <i class="fa-solid fa-tv">
                    <a href="#"> TV </a>
                </i>
            </li>
            <li>
                <i class="fa-solid fa-film">
                    <a href="#">Movies</a>
                </i>
            </li>
            <li>
                <i class="fa-solid fa-baseball">
                    <a href="#">Sports</a>
                </i>
            </li>



        </ul>
    </nav>

</body>

</html>